<!DOCTYPE html>
<html lang="en">

<%- include("../partials/header.ejs")%>

<body>


    <section>

        <div class="container">
            <article id="main-col">
                <h1 class="page-title">Subject</h1>
                <%for (let subject of subjects) {%>
                <ul id="services">
                    <li>
                        <h3><a
                                href="/subjects/<%= subject.dataValues.id %>/<%= StudentId%>"><%= subject.dataValues.name %></a>
                        </h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mi augue, viverra sit amet
                            ultricies
                        </p>
                        <h3><%= subject.dataValues.diffilcutyLevel %></h3>
                        <h4><a href="/subjects/<%= subject.dataValues.id %>">Get Quiz</a>
                        </h4>
                    </li>
                </ul>
                <%}%>
        </article>
    </div>

    </section>


</body>

</html>